@using SFA.DAS.Provider.PR.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.Provider.PR.Web.Models.AddEmployer.SearchByEmailModel
@{
    ViewData["Title"] = "Search by email";
}
@section breadcrumb {
    <a href="@Model.BackLink" class="govuk-back-link">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <h1 class="govuk-heading-l">
            Search employer email
        </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            Search the email address of your contact at the employer.
        </p>
        <p class="govuk-body">
            If no apprenticeship service accounts are linked to this email address you can invite the employer to create an account.
        </p>
        <p class="govuk-body">
            If there is an apprenticeship service account linked to this email address you can ask the employer to add you as a training provider.
        </p>
    </div>
 
    <div class="govuk-grid-column-two-thirds">
        <form asp-route="@RouteNames.AddEmployerSearchByEmail" method="POST">
            <input asp-for="Ukprn" id="Ukprn" type="hidden" />
            <div esfa-validation-marker-for="@Model.Email" class="govuk-form-group">
                <span asp-validation-for="Email" class="govuk-error-message"></span>
                <div class="govuk-body">
                    <label id="EmailLabel" class="govuk-label" for="Email">
                        <strong>Employer email address</strong>
                    </label>
                    <input id="Email" asp-for="Email" class="govuk-input" name="email" type="text" spellcheck="false" aria-describedby="EmailLabel" autocomplete="email" sfa-validationerror-class="form-control-error" maxlength="254">
                </div>
            </div>
            <div class="govuk-button-group">
                <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Search</button>
            </div>
        </form>
    </div>
</div>