@using SFA.DAS.Provider.PR.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.Provider.PR.Web.Models.AddEmployer.EmailSearchInviteAlreadySentShutterPageViewModel
@{
    ViewData["Title"] = "Email search, Invitation already sent";
}
@section breadcrumb {
    <a class="das-js-back-link">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            Invitation sent
        </h1>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            Your organisation has already invited <strong>@Model.Email</strong> to create an account or add you as a training provider.
        </p>
        <div class="govuk-button-group">
            <p class="govuk-body">
                <a class="govuk-link" href="@Model.EmployerAccountLink">Employer account details for @Model.EmployerName</a>
            </p>
        </div>
    </div>
</div>