@model PaginationViewModel

<span class="das-flex-space-around app-pagination-nav das-pagination-links">
    @if (Model.Pages.Count > 1)
    {
        @foreach (var link in Model.Pages)
        {
            if (link.HasLink)
            {
                <a href="@link.Url" class="govuk-link govuk-body govuk-link--no-visited-state">@link.Title</a>
            }
            else
            {
                <span class="govuk-body">@link.Title</span>
            }
        }
    }
</span>