@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (ViewContext.RouteData.Values.ContainsKey("ukprn"))
    {
    <h3>You have successfully authorized to use @ViewContext.RouteData.Values["ukprn"].</h3>
    }
</div>
