@using SFA.DAS.Provider.PR.Web.Infrastructure
@model NoRelationshipsHomeViewModel
@{
    ViewData["Title"] = "View employers and manage permissions";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-width-three-quarters">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">View employers and manage permissions</h1>
            <p class="govuk-body govuk-!-margin-bottom-8">
                Your organisation is not linked to any employers. To ask an employer to create an apprenticeship service account and add you as a training provider go to <a href="@Model.AddEmployerLink" class="govuk-link govuk-link--no-visited-state">Add an employer</a>.
            </p>
        </div>
    </div>
</div>
