@model RequestPermissionsConfirmationViewModel
@{
    ViewData["Title"] = "Request Sent To Employer";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-width">
            <div class="govuk-panel govuk-panel--confirmation govuk-!-padding-bottom-4">
                <h1 class="govuk-panel__title">
                    Request sent to employer
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-!-width">
            <h2 class="govuk-heading-m">What happens next?</h2>
        </div>
        <div class="govuk-!-width">
            <p class="govuk-body">We've sent your request to @Model.AccountLegalEntityName . The request will expire in 14 days.</p>
            <p class="govuk-body govuk-!-padding-bottom-8">
                You’ll receive a confirmation email when they’ve set your permissions. 
                If the employer does not respond in 14 days or declines your request, 
                your permissions will remain the same as they are now.
            </p>
            <a class="govuk-link govuk-body" href="@Model.EmployersLink">View current employers and permissions</a>
        </div>
    </div>
</div>