.govuk-checkboxes__label::before {
  background-color: #fff;
}

.app-table__caption {
  border-bottom: 2px solid #b1b4b6;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.app-table--search-results .govuk-table__cell {
  padding-top: 15px;
  padding-bottom: 15px;
}

.app-search-result-link {
  font-weight: 700;
}

.app-section-break {
  border-bottom-width: 2px;
  margin-bottom: 15px;
}

.das-flex-space-around {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.app-pagination-nav {
  float: right;
}

.das-pagination-links > a,
.das-pagination-links span {
  height: 40px;
  line-height: 40px;
  margin-left: 15px;
}
